
body{
    background: linear-gradient(to right , rgb(15, 0, 41), rgb(79, 14, 104),rgb(114, 14, 101),rgb(43, 0, 24));
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main{
    width: 300px;
    height: 450px;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 34px #000000;
    margin-top: 7%;
}
form{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.img{
    width: 280px;
    height: 120px;
    margin-top: -25px;
}
img{
    width: 210px;
    margin-left: 35px;
}
.inp{
    padding:5px ;

    width: 150px;
}
.login_input{
    opacity: 0.8;
    border: none;
    width: 130px;
    height: 30px;
    border-bottom: 1px solid rgba(116, 75, 189, 0.747);
    transition: .2s;
}
.login_input:hover{
    background-color: rgb(245, 245, 245);
}
.login_input:focus{
    outline: none;
    width: 142px;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgba(101, 18, 112, 0.747);
}
::placeholder{
    padding-left: 4px;
}
.btn{
    width:150px ;
    padding: 20px;
    margin-left: 14px;

}
button{
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(147, 27, 194),rgb(201, 23, 177));
    color: white;
    font-size: 16px;
    transition: .1s;
    margin-left: 15px;
}
button:focus,
button:active,
button:hover{
    background: linear-gradient(to right, rgb(105, 27, 136),rgb(148, 11, 130));
    font-size: 16.5px;
    width: 102px;
}
.frgt{
    margin-top: -5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: 11px;
    color: rgba(150, 14, 168, 0.747);
    word-spacing: -1px;
}
.a{
    text-decoration: none;
    color: rgba(92, 13, 102, 0.747);
    font-weight: 700;
}
a{
    text-decoration: none;
    color: white;
}
span{
    color: red;
}